---
import "../../public/styles.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Functional Programming Spreadsheet</title>
        <link rel="stylesheet" href="/styles.css" />
        <script type="module" src="/script.js"></script>
    </head>
    <body>
        <div id="container">
            <div></div>
        </div>
        <script type="module" src="../script.js"></script>
    </body>
</html>
